*{
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

}
body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;

}

header {
  width: 100%;
  background: white;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
  padding: 10px 0;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  margin-left: 40px;
  width: 200px;
  height: 50px;
}
.nav-item {
  margin: 0 5px;
  letter-spacing: 1px;
}
.navbar-brand {
  font-size: 2rem;
  color: #dc4f72;
  font-weight: 800;
}
.navbar-brand:hover {
  color: #dc4f72;
}
.active .nav-link {
  color: #dc4f72;
}
.form-inline .btn {
  color: #dc4f72;
  font-weight: 700;
  border: 1px solid #dc4f72;
}
.form-inline .btn:hover {
  background-color: #dc4f72;
  color: white;
  font-weight: 700;
}
.dropdown-menu .dropdown-item {
  margin: 10px 0;
}
.nav-link {
  position: relative;
}
.nav-item .nav-link::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  background-color: #dc4f72;
  height: 2px;
  bottom: 0;
  transition: 0.3s;
}
.nav-item .nav-link:hover::before {
  width: 30px;
}
.dropdown-menu .dropdown-item::after {
  content: "";
  display: block;
  width: 0px;
  background-color: #dc4f72;
  height: 2px;
  transition: 0.5s;
}
.dropdown-menu .dropdown-item:hover::after {
  width: 40px;
}

/* carousel */
.carousel {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #ffffff;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url("https://demo.w3layouts.com/demos_new/template_demo/03-03-2021/masterwork-liberty-demo_Free/423112365/web/assets/images/banner.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* display: grid; */
  align-items: center;
  /* height: 70vh; */
  padding-top: 5rem;
}
.row-carousel h1 {
  font-size: 3rem;
  margin-top: 90px;
}
.row-carousel p {
  margin: 30px 0;
  font-size: 1.2rem;
}
.button-carousel {
  border: 2px solid #dc4f72;
  color: #dc4f72;
  transition: 0.5s;
  font-weight: 700;
  /* width: 100px; */
  border-radius: 10px;
}
.button-carousel:hover {
  color: white;
  background: #dc4f72;
}
.row-carousel img {
  transform: rotate(180deg);
}

.choose {
  margin-top: 80px;
}
.choose-text {
  text-align: center;
}
.choose-text h1 {
  font-weight: 700;
}
.choose-text h3 {
  font-size: 1.3rem;
  color: #dc4f72;
}
.business {
  margin-top: 60px;
}
.card-img {
  text-align: center;
  background: #f7f9fc;
  padding: 40px 0;
  border: 1px solid #f7f9fc;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all ease-in 0.3s;
}
.card-img-top {
  width: 80px;
}
.card-img:hover {
  transform: translateY(-10px);
  background: white;
}
.counting {
  margin-top: 80px;
  background: #f7f9fc;
  padding: 80px 0;
  width: 100%;
}
.card-couting h4 {
  font-size: 1rem;
  color: #dc4f72;
}
.card-couting h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}
.card-couting p {
  margin-bottom: 30px;
}
.card-couting .btn-primary {
  background: #dc4f72;
  border: none;
  width: 150px;
  padding: 15px 0;
  font-weight: 600;
}

.card-couting .btn-primary:hover {
  background: #d62f58;
}
.card-couting {
  border: none;
  background: #f7f9fc;
}
.counting-img .img-counting {
  width: 100%;
  border-radius: 16px;
}
.counting-img {
  background: #f7f9fc;
  border: none;
  transition: 0.3s;
}
.counting-img:hover {
  transform: translateY(-10px);
}
.container-col {
  margin-bottom: 100px;
}
.number span {
  font-size: 3.5rem;
  font-weight: 700;
  color: #dc4f72;
}
.number p {
  color: #5a5a5a;
}
.number {
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  border: 1px solid #eee;
  transition: 0.3s;
}
.number:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* start banner */
/* * {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
} */
.banner {
  display: block;
}
.banner-bg {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url(./capstone-img/capstone-img/capstone-img07.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  display: grid;
  align-items: center;
  padding: 2rem 0;
}
.banner .container {
  width: 100%;
  
}
.banner__container{
  max-width: 550px;
}
.banner__header h2 {
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.banner__content p {
  font-size: 16px;
  color: #eee;
  line-height: 24.5px;
}
.theme-button {
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
} /* end banner */
/* start solution */
.solution {
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;
}
.sub-title {
  font-size: 16px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.solution__header h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.solution__header p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
}
.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.solution__content .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.grids5-info {
  border-radius: 6px;
  transition: 0.3s ease-in;
  display: block;
  height: 100%;
  background: #fff;
  border: 1px solid #eee;
}
.grids5-info:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-0.5rem);
}

.solution__items a {
  overflow: hidden;
  position: relative;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-decoration: none;
  color: #2c3038;
  font-size: 22px;
  line-height: 27px;
  display: block;
  font-weight: 600;
}
.grids5-info:hover .solution__items a {
  color: #dc4f72;
}
.solution__items .items-img .img-fluid {
  width: 100%;
  display: block;
  transition: 0.3 ease-in-out;
  filter: grayscale(1);
}

.grids5-info:hover .img-fluid {
  filter: grayscale(0);
}

.solution__items .p {
  line-height: 24.5px;
}
.solution__items p.date {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border-bottom: none;
  position: absolute;
  top: 0;
  background: #dc4f72;
  margin-bottom: 0;
  right: 0;
  margin-top: 0;
  padding: 10px 10px;
}

.solution-info {
  background: #fff;
  padding: 30px 20px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.solution-info label {
  background: rgba(238, 97, 120, 0.2);
  color: #dc4f72;
  font-size: 13px;
  padding: 5px 10px;
}
.solution-info label.tag-label {
  padding: 5px 16px;
  display: inline-block;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}
.solution-info p {
  font-size: 16px;
  line-height: 24.5px;
  color: #5a5a5a;
  margin-top: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.solution-info a.btn {
  padding: 0;
  border-radius: 0;
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: lighter;
  color: #dc4f72;
  cursor: pointer;
}
.solution-info a.btn-news span {
  font-size: 60%;
  vertical-align: middle;
  padding-left: 0;
  right: -13px;
  top: 7.5px;
  transition: 0.3 ease-in;
}
.grids5-info:hover .solution-info a.btn-news span {
  padding-left: 2px;
}
.tag-label.green {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}
.tag-label.blue {
  background: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}
/* end solution */
/* start faq */
.faq{
  background-color: #F7F9FC;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.faq__title h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.faq__title p {
  max-width: 750px;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}
.faq__content .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.faq__content .row .faq-image {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.row .faq-image {
  position: sticky;
  top: 80px;
}
img .img-curve {
  border-radius: 6px;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}
.img-fluid{
  max-width: 100%;
  height: auto;
}
.faq-image:hover {
  transform: translateY(-0.5rem);
  transition: 0.3 ease-in-out;
}


.faq__text .faq-page ul {
  list-style: none;
  padding: 0;
  max-width: 750px;
  margin: 0 auto;
}
.faq__text .faq-page ul li {
  position: relative;
  padding: 25px 50px 25px 20px;
  border: 1px solid #eee;
  margin: 0 0 15px 0;
  border-radius: 6px;
  background: #fff;
}
.faq__text .faq-page ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  top: 0;
  left: 0;
}
.faq-page ul .accicon{
  float:right;

  font-size: 20px;
  width: 1.2em;
}
.faq-page ul li:not(.collapsed) .rotate-icon{
  transform: rotate(180deg);
}
/* .faq__text .faq-page ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 25px;
  top: 16px;
} */
/* .faq__text .faq-page ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
  content: "";
  position: absolute;
  background-color: #2c3038;
  width: 3px;
  height: 9px;
}
.faq__text .faq-page ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
  content: "";
  position: absolute;
  background-color: #2c3038;
  width: 3px;
  height: 9px;
} */
.faq__text .faq-page ul li h2 {
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  display: block;
  margin: 0;
  cursor: pointer;
  color: #2c3038;
}
.faq__text .faq-page ul li p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 24.5px;
  position: relative;
  overflow: hidden;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}
/* end faq */
